body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.task {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.travail {
    background-color: #ff0000; /* Rouge */
}

.maison {
    background-color: #0000ff; /* Bleu */
}

.divers {
    background-color: #008000; /* Vert */
}

